body {
    font-family: Arial, sans-serif;
    margin: 0; /* 清除 body 的 margin */
    padding: 0; /* 清除 body 的 padding */
    background-color: #433;
    color: #9A45BD;

    height: 80%;
}
footer
{
    background-color: #000;
    width: 100%;
    min-height: 200px;
    /*display: flex;*/
    /*justify-content: center;*/
}
#tail
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: fill;
    margin-top: 20%;
}
#mark
{
    text-align: center;

}

#header,
#content {
    min-height: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: fill;
}

#content {
    margin-left: 25%; /* 根据侧边栏宽度调整 margin */
}

#index {
    position: fixed;
    left: 20px; /* 调整侧边栏距离左侧的距离 */
    top: 20px; /* 调整侧边栏距离顶部的距离 */
    width: 200px; /* 调整侧边栏宽度 */

}

#index ul {
    padding: 0;
    list-style: none;
}

#index li {
    margin-bottom: 10px;
}

#index a {
    display: block;
    color: #55ACEE;
    text-decoration: none;
    font-weight: bold;
}
